@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

html {
  /* Colors Vars */
  --main-dark-color: #0b090a;
  --light-dark-color: #161a1d;
  --light-grey-color: #f5f3f4;
  --main-golden-color: #c59505;
  --hover-golden-color: #735703;

  /*  Font-size Vars */
  --xs: 16px;
  --sm: 20px;
  --md: 24px;
  --lg: 28px;
  --xl: 32px;
  --2xl: 36px;
  --3xl: 40px;
  --4xl: 56px;
  --5xl: 64px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: var(--main-dark-color);
  scrollbar-width: thin;
  scrollbar-color: #d6d4e2 var(--main-golden-color);
}

*::selection {
  background-color: var(--main-golden-color);
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--main-dark-color);
}
::-webkit-scrollbar-thumb {
  background: var(--main-golden-color);
  border-radius: 10px;
}

.container {
  width: 100%;
  padding: 48px 72px 0 72px;
  margin: 0 auto;
}

/* Header */

header {
  width: 100%;
  height: 65px;
  background: var(--main-dark-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  z-index: 99;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn {
  display: block;
  padding: 8px 12px;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: border 300ms ease-in-out;
}

.schedule img {
  display: none;
}

.schedule:hover {
  border-color: var(--main-golden-color);
}

/* Main */

main {
  background-color: var(--main-dark-color);
}

main .container {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}

.text-area {
  flex: 1;
  max-width: 500px;
}

.text-area h1 {
  font-weight: 700;
  font-size: var(--4xl);
  color: #fff;
  margin-top: 50px;
}

.text-area p {
  color: var(--light-grey-color);
  letter-spacing: 2px;
  margin-top: 30px;
  font-size: var(--md);
}

.whatsapp {
  width: fit-content;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px var(--md);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--main-golden-color);
  transition: background-color 300ms ease-in-out;
}

.whatsapp:hover {
  background-color: var(--hover-golden-color);
}

.image-area {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.image-area img {
  width: 100%;
  height: 100%;
}

/* Services Section */

.services {
  background-color: #d6d4e2;
}

.default-sec--text {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  gap: var(--sm);
  margin-bottom: 48px;
}

.default-sec--text span {
  color: #d69509;
  text-transform: uppercase;
  font-size: var(--sm);
  font-weight: bold;
}

.default-sec--text span::selection {
}

.default-sec--text h2 {
  color: var(--main-dark-color);
  font-size: var(--3xl);
}

.default-sec--text div {
  display: flex;
  align-items: center;
  gap: var(--md);
}

.services .default-sec--content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.services .container {
  padding-bottom: 96px;
}

.default-sec--item {
  width: 380px;
  min-width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #888;
  position: relative;
}

.default-sec--item img {
  width: 100%;
  border-top-right-radius: 10px;
}

.item--text {
  width: 100%;
  height: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.default-sec--item strong {
  background-color: var(--main-golden-color);
  height: 64px;
  width: 64px;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -30px;
  top: -30px;
}

.item--text h3 {
  font-size: 24px;
}
.item--text p {
  font-size: var(--sm);
  color: var(--light-dark-color);
}

/* Local Section */

.local {
  background-color: var(--light-grey-color);
}

.local .default-sec--text adress {
  color: var(--light-dark-color);
  font-size: var(--md);
}

.local .default-sec--content {
  width: 100%;
  height: 350px;
}

.local--map-image {
  background: url("../svg/map.png");
  background-size: cover;
  background-position: center;
  height: 350px;
  position: absolute;
  left: 0;
  right: 0;
}

/* Footer */

footer {
  background-color: var(--light-dark-color);
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 48px;
}

.footer--text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--light-grey-color);
}

.footer--text img {
  width: 200px;
}

.footer--social-media a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: transform 150ms linear;
}

.footer--social-media a:hover {
  transform: scale(1.3);
}

@media (max-width: 1024px) {
  html {
    --xs: 14px;
    --sm: 17px;
    --md: 20px;
    --lg: 24px;
    --xl: 28px;
    --2xl: 32px;
    --3xl: 36px;
    --4xl: 50px;
    --5xl: 60px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 25px;
    padding-bottom: 0;
  }

  main .container {
    flex-direction: column;
    align-items: center;
  }

  .whatsapp {
    width: 100%;
  }

  .image-area {
    margin-left: -15px;
    width: 100%;
    justify-content: center;
  }

  .footer--text img {
    width: 150px;
  }
}

@media (max-width: 480px) {
  html {
    --xs: 12px;
    --sm: 14px;
    --md: 16px;
    --lg: 20px;
    --xl: 24px;
    --2xl: 28px;
    --3xl: 32px;
    --4xl: 44px;
    --5xl: 56px;
  }

  .schedule span {
    display: none;
  }
  .schedule img {
    display: block;
  }
  .schedule {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #59ce72;
  }

  .local--map-image {
    background-position: -300px;
  }

  footer .container {
    flex-direction: column;
    gap: var(--md);
  }
  .footer--text img {
    width: 100px;
  }
}
